:root {
  --transition-duration: 150ms;
  --transition-function: ease-in-out;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Montserrat-Black.woff2) format('woff2'), url(../fonts/Montserrat-Black.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Montserrat-Bold.woff2) format('woff2'), url(../fonts/Montserrat-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Montserrat-ExtraBold.woff2) format('woff2'), url(../fonts/Montserrat-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.woff2) format('woff2'), url(../fonts/Montserrat-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2'), url(../fonts/Montserrat-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/Montserrat-SemiBoldItalic.woff2) format('woff2'), url(../fonts/Montserrat-SemiBoldItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-Regular.woff2) format('woff2'), url(../fonts/Roboto-Regular.woff) format('woff');
}

body {
  min-width: 320px;
  margin: 0;
  font-size: 13px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #0A051E;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
}

[class*="container"] {
  position: relative;
  padding-right: 19px;
  padding-left: 19px;
}

[class*="inner"] {
  max-width: 1000px;
  margin: 0 auto;
}

figure {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1em 0;
  background-color: rgba(10, 5, 30, 0.06);
}

figure img {
  display: block;
}

figure img.prod {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 78.8%;
  transform: translate(-50%, -50%);
}

figcaption {
  position: relative;
  padding: 9px 12px;
  font-size: 10px;
  line-height: 16px;
  color: #000000;
  letter-spacing: 0.01em;
}

figcaption img {
  width: 100%;
}

figcaption span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 3px 12px;
  font-weight: 700;
  font-size: 8px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  background-color: rgba(10, 5, 30, 0.5);
  transform: translateY(-100%);
}

.p0 {
  padding: 0 !important;
}

.button-wrap {
  max-width: 656px;
  padding-top: 29px;
  padding-bottom: 62px;
}

.button {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 22px 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;
  background-color: #FF0B0B;
  border-radius: 10px;
  box-shadow: 0px 6px 30px #FF0B0B;
  transition: box-shadow var(--transition-duration) var(--transition-function), opacity var(--transition-duration) var(--transition-function);
}

.button:hover {
  box-shadow: 0 0 0 transparent;
}

.button:active {
  opacity: 0.7;
}

h2 {
  margin: 0 0 20px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 63px;
  padding: 0;
  list-style-type: none;
  gap: 10px;
}

.topics a {
  display: block;
  padding: 11px 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.01em;
  background-color: rgba(10, 5, 30, 0.06);
}

h3 {
  margin: 0 0 18px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-decoration-line: underline;
}

.header__inner {
  text-align: center;
}

.header__container:first-child {
  padding-top: 14px;
  padding-bottom: 16px;
}

.header__logo {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  transition: opacity var(--transition-duration) var(--transition-function);
}

.header__logo:hover {
  opacity: 0.7;
}

.header__logo:active {
  opacity: 0.5;
}

.header__logo img {
  display: block;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__link-icon {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  transition: opacity var(--transition-duration) var(--transition-function);
}

.header__link-icon:hover {
  opacity: 0.7;
}

.header__link-icon:active {
  opacity: 0.5;
}

.header__link-icon span {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.header__link-icon::before {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.header__link-icon--user::before {
  background-image: url(../img/user.svg);
}

.header__link-icon--search::before {
  background-image: url(../img/search.svg);
}

.header__subscribe {
  display: inline-block;
  padding: 15px 36px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FF0B0B;
  text-decoration: none;
  border: 1px solid #FF0B0B;
  border-radius: 10px;
  transition: color var(--transition-duration) var(--transition-function), background-color var(--transition-duration) var(--transition-function);
}

.header__subscribe:hover {
  color: #ffffff;
  background-color: #FF0B0B;
}

.nav {
  padding: 8px 23px;
  color: #ffffff;
  background-color: #FF0B0B;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__list a {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.04em;
  transition: opacity var(--transition-duration) var(--transition-function);
}

.nav__list a:hover {
  opacity: 0.7;
}

.nav__list a:active {
  opacity: 0.5;
}

.nav__toggle {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.main {
  padding-top: 31px;
}

.main h1 {
  margin-top: 23px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.01em;
}

.main__header {
  margin-bottom: 23px;
  text-align: center;
}

.main__header .inner {
  display: grid;
}

.main__header > img {
  width: 100%;
}

.main__meta {
  margin-bottom: 30px;
  border-top: 1px solid rgba(10, 5, 30, 0.2);
  border-bottom: 1px solid rgba(10, 5, 30, 0.2);
}

.main__meta .main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__meta-author {
  margin: 0;
  transform: translateY(-8px);
}

.main__meta-author img {
  width: 64px;
  height: 79px;
}

.main__like {
  height: 24px;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
}

.main__like::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 24px;
  margin-right: 8px;
  vertical-align: sub;
  background-color: #FF0B0B;
  -webkit-mask-image: url(../img/like.svg);
          mask-image: url(../img/like.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}

.main__dislike {
  height: 24px;
  margin: 0;
  margin-left: 43px;
  font-size: 14px;
  line-height: 17px;
}

.main__dislike::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 24px;
  margin-right: 8px;
  vertical-align: sub;
  background-color: #FF0B0B;
  -webkit-mask-image: url(../img/dislike.svg);
          mask-image: url(../img/dislike.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}

.main__meta-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-left: auto;
  -moz-column-gap: 53px;
       column-gap: 53px;
}

.main__meta-grid p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.main__meta-grid p:nth-child(3) {
  grid-column-start: 2;
  grid-row-end: 3;
  grid-row-start: 1;
}

.main__meta-grid p:nth-child(3) span {
  display: block;
}

.main__meta-grid p span {
  font-weight: 800;
  font-size: 10px;
  line-height: 16px;
}

.comments .container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.comments .inner {
  max-width: 657px;
  margin: 0;
}

.comments__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 28px;
}

.comments__header h3 {
  margin-right: auto;
}

.comments__header label {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
}

.comments__header select {
  display: block;
  width: 220px;
  margin-left: 15px;
  padding: 12px;
  font-size: 14px;
  line-height: 22px;
  font-family: inherit;
  color: inherit;
  letter-spacing: 0.01em;
  background-color: transparent;
  background-image: url(../img/select.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
  border: 1px solid rgba(10, 5, 30, 0.2);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.comments__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 10px;
}

.comments__item {
  position: relative;
  padding: 16px 14px 16px 16px;
  border: 1px solid rgba(10, 5, 30, 0.1);
  border-radius: 8px;
}

.comments__item p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.01em;
}

.comments__item-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50px;
  padding-left: 63px;
}

.comments__item-header p {
  margin: 0;
}

.comments__ava {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background-color: rgba(10, 5, 30, 0.3);
  border-radius: 50%;
}

.comments__name {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.comments__date {
  font-size: 10px;
  line-height: 16px;
}

.comments__likes {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
}

.comments__likes-up {
  height: 16px;
  margin: 0;
  margin-left: 16px;
}

.comments__likes-up::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 16px;
  margin-right: 8px;
  vertical-align: sub;
  background-color: rgba(10, 5, 30, 0.6);
  -webkit-mask-image: url(../img/like.svg);
          mask-image: url(../img/like.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 13px 16px;
          mask-size: 13px 16px;
}

.comments__likes-down {
  height: 16px;
  margin: 0;
  margin-left: 16px;
}

.comments__likes-down::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 16px;
  margin-right: 8px;
  vertical-align: sub;
  background-color: rgba(10, 5, 30, 0.6);
  -webkit-mask-image: url(../img/dislike.svg);
          mask-image: url(../img/dislike.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 13px 16px;
          mask-size: 13px 16px;
}

.footer {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #ffffff;
  background-color: #0A051E;
}

.footer a {
  color: inherit;
  transition: opacity var(--transition-duration) var(--transition-function);
}

.footer a:hover {
  opacity: 0.7;
}

.footer a:active {
  opacity: 0.5;
}

.footer p {
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.footer p a {
  font-weight: 600;
}

.footer__logo {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  letter-spacing: 0.04em;
}

.footer [class*="line"] {
  position: relative;
}

.footer [class*="line"]::after {
  content: '';
  position: absolute;
  right: -16px;
  bottom: 0;
  left: -16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__first-line .inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  list-style-type: none;
  row-gap: 16px;
}

.footer__first-line .inner li {
  margin-right: 16px;
}

.footer__link-icon {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}

.footer__link-icon::before {
  content: '';
  display: inline-block;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer__link-icon--mobile::before {
  width: 10px;
  height: 17px;
  background-image: url(../img/mobile.svg);
}

.footer__link-icon--mic::before {
  width: 12px;
  height: 18px;
  background-image: url(../img/mic.svg);
}

.footer__link-icon--letter::before {
  width: 17px;
  height: 17px;
  background-image: url(../img/letter.svg);
}

.footer__link-icon--envelope::before {
  width: 17px;
  height: 14px;
  background-image: url(../img/envelope.svg);
}

.footer__middle-line .inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  list-style-type: none;
}

.footer__middle-line .inner a {
  margin-right: 1em;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  text-decoration: none;
  letter-spacing: 0.01em;
}

.aside {
  padding: 20px;
  border: 0.6px solid rgba(10, 5, 30, 0.5);
}

.aside h2 {
  margin: -20px -20px 20px -20px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: rgba(10, 5, 30, 0.4);
}

.aside__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(226px, 240px));
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 24px;
}

.aside__list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px;
  background: rgba(10, 5, 30, 0.06);
  gap: 2px;
}

.aside__list img {
  display: block;
  width: calc(100% + 32px);
  max-width: calc(100% + 32px);
  margin: -8px -16px 0 -16px;
}

.aside__list a {
  display: block;
  margin-top: 6px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.01em;
  transition: opacity var(--transition-duration) var(--transition-function);
}

.aside__list a:hover {
  opacity: 0.7;
}

.aside__list a:active {
  opacity: 0.5;
}

.aside__list span {
  margin-top: auto;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

@media (min-width: 576px) {
  .comments__header {
    margin-bottom: 52px;
  }

  .comments__header h3 {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 32px;
  }

  figcaption {
    padding: 23px 22px;
    font-size: 12px;
    line-height: 18px;
  }

  .button-wrap {
    padding-top: 48px;
    padding-bottom: 113px;
  }

  .button {
    padding: 27px 40px;
    font-size: 20px;
    line-height: 24px;
  }

  h2 {
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 50px;
  }

  .topics {
    margin-bottom: 77px;
    gap: 24px;
  }

  .topics a {
    padding: 19px 24px;
    font-size: 14px;
    line-height: 20px;
  }

  h3 {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .header__logo img {
    margin-right: 30px;
  }

  .header__logo span {
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
  }

  .header__link-icon {
    margin-left: 36px;
  }

  .header__link-icon::before {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__logo img {
    width: 140px;
    height: 40px;
  }

  .nav .inner {
    display: grid;
  }

  .nav__list li:not(:last-child) {
    margin-right: 2.8%;
  }

  .nav__list a {
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }

  .nav__link-end {
    display: flex;
    justify-content: space-between;
    width: 20px;
  }

  .nav__link-end::before,
  .nav__link-end::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 50%;
  }

  .nav__link-end::before {
    box-shadow: 8px 0 0 #ffffff;
  }

  .main {
    padding-top: 64px;
  }

  .main h1 {
    width: 72%;
    margin: -67px auto 0;
    padding: 32px 24px;
    font-size: 50px;
    line-height: 64px;
    background-color: #ffffff;
  }

  .main__header {
    margin-bottom: 21px;
  }

  .main__meta {
    margin-bottom: 43px;
  }

  .main__meta .main__container {
    justify-content: initial;
  }

  .main__meta-author {
    display: flex;
    align-items: center;
    order: -1;
    margin-right: auto;
    transform: translateY(0);
  }

  .main__meta-author span {
    display: block;
    font-size: 12px;
    line-height: 16px;
  }

  .main__meta-author span span {
    font-weight: 800;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .main__meta-author img {
    width: 68px;
    height: 84px;
    margin-right: 18px;
  }

  .comments__item {
    padding: 24px;
  }

  .comments__item p {
    line-height: 18px;
  }

  .comments__ava {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }

  .comments__likes {
    position: absolute;
    top: 16px;
    right: 14px;
  }

  .footer__logo img {
    margin-right: 28px;
  }

  .footer__first-line .inner {
    justify-content: space-between;
  }
}

@media (min-width: 990px) {
  .web_aside {
    float: right;
    width: -moz-min-content;
    width: min-content;
    margin-left: 54px;
  }
}

@media (max-width: 989px) {
  .aside {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .header__logo span {
    display: none;
  }

  .header__subscribe {
    display: none;
  }

  .header__inner {
    justify-content: space-between;
  }

  .header__link-icon--user {
    order: -1;
  }

  .header__link-icon span {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
  }

  .header__logo img {
    display: block;
  }

  .header__link-icon::before {
    width: 24px;
    height: 24px;
  }

  .nav .inner {
    display: flex;
    align-items: center;
  }

  .nav__list {
    margin: 0 auto;
  }

  .nav__list li:not(:first-child) {
    display: none;
  }

  .nav__toggle {
    width: 18px;
    height: 15px;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
  }

  .nav__toggle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transform: translateY(-50%);
  }

  .main h1 {
    padding-right: 8px;
    padding-left: 8px;
  }

  .main__meta-author span {
    display: none;
  }

  .main__meta-grid {
    display: none;
  }

  .footer__logo img {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */